<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="config">

    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}">

    <script   th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script   th:src="@{/js/security/jsbn.js}"></script>
    <script   th:src="@{/js/security/rsa.js}"></script>
    <script   th:src="@{/js/security/prng4.js}"></script>
    <script   th:src="@{/js/security/rng.js}"></script>
    <script   th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.min.js}"></script>


    <!-- content 에서 사용하는 css 를 config 파일에 대체 한다 -->
    <th:block layout:fragment="css">


    </th:block>

</th:block>

</body>
</html>